@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&family=Sacramento&display=swap');

body {
  margin: 0;
  font-family: Consolas, 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, 'Courier New',
    monospace;
}

.container {
  display:block;
  padding:0 0 2% 3%;
}

button {
  font-family: Consolas, 'Courier New';
  padding:5px;
  font-size:12pt;
  text-transform: uppercase;
  letter-spacing:.3rem;
  padding:5px 15px;
}

button:hover {
  font-weight: bold;

}

h1 {
  color:#6B2E1B;
  text-align:center;
  /* font-family: 'Cedarville Cursive', cursive; */
  font-family: 'Sacramento', cursive;
  font-weight:600;
  font-size:40pt;
  margin:-30px 0 0 -115px;
  filter:blur(.6px);
}

#catPic {
  text-align:center;
  margin: 0 0 0 6%;
}
